
body {
     
   margin: 0;
   padding: 30px;
min-width: 800px;

   
 
font-family: monospace;
  color: black;
        background-color: lightblue;

}

   h1 {
       line-height: 100px;
color: whitesmoke;
  
background-color: black;
  width:100%;
margin: auto;
  font-size: 90px;
text-align: center;
       top: auto;

  }

h2{
    text-decoration: underline;
   font-family: monospace;
  color: black; 
      font-size: 40px;
       padding-left: 100px;
}
h3{
    font-family: monospace;
    text-decoration: underline;
  color: black;
    font-size: 40px;
    padding-left: 100px;
    
}
h4{
    font-family: monospace;
    text-decoration: underline;
  color: black;
    font-size: 40px;
    padding-left: 100px;
    
}
div{
    padding-left: 50px;
      font-size: 20px;
    
    
}

footer{
     text-align: left;
 padding-top: 100px;
     margin: auto;
color: whitesmoke;
  font-size: 16px;	
	width:100%;
	position:absolute;
	
}

